@charset "UTF-8";
/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.calculator {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

form {
    text-align: center;
}

input[type="number"], select, button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
.flex{
	display:flex;
	flex-direction: column;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

footer{
	 position: fixed;
     bottom: 0;
     width: 100%;
     background-color: #f2f2f2;
     text-align: center;
     padding: 10px 0;
     color: #666666;
}